<li class="task subtask" *ngIf="detectSortingSubtasks(sorting)">
  <button class="doneButton"
          [ngClass]="{unpressedDoneButton: !subtask.done}"
          (click)="isDone()"><i class="bi bi-check-lg"></i></button>
  <input [readonly]="readonly" type="text" class="change"
         [(ngModel)]="subtask.text"
         [ngClass]="{done: subtask.done}"
         (focusout)="finishEditing()"
         (keyup.enter)="finishEditing()" #subInput>
  <button class="deleteAim" (click)="deleteSubAim()"><i class="bi bi-x-lg"></i></button>
  <button class="changeText" (click)="changeText(subInput)"><i class="bi bi-pen"></i></button>
</li>
