<li class="task subtask" *ngIf="detectSortingSubtasks(sorting)">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."
             [ngClass]="{checked: subtask.done}"
             (click)="isDone()">
    </div>
    <input [readonly]="readonly" type="text" class="form-control change"
           [(ngModel)]="subtask.text"
           [ngClass]="{done: subtask.done}"
           (focusout)="finishEditing()"
           (keyup.enter)="finishEditing()" #subInput>
    <button class="btn btn-outline-secondary" (click)="changeText(subInput)"><i class="bi bi-pen"></i></button>
    <button class="btn btn-outline-secondary" (click)="deleteSubAim()"><i class="bi bi-x-lg"></i></button>
  </div>
</li>
