<li class="task"
    *ngIf="detectSorting(sorting)">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."
             [checked]="task.done"
             (click)="isDone()">
    </div>
    <input (click)="isShownSubtasks=!isShownSubtasks"
           [readonly]="readonly" type="text" class="form-control change"
           [(ngModel)]="task.text"
           [ngClass]="{done: task.done, isContainedSubTask: task.subTasks.length > 0}"
           (focusout)="finishEditing()"
           (keyup.enter)="finishEditing()" #input>
    <span class="input-group-text" *ngIf="subTasksCounter()">{{subTasksCounter()}}</span>
    <button class="btn btn-outline-secondary" (click)="addSubTask()"><i class="bi bi-plus-lg"></i></button>
    <button class="btn btn-outline-secondary" (click)="changeText(input)"><i class="bi bi-pen"></i></button>
    <button class="btn btn-outline-secondary" (click)="deleteAim()"><i class="bi bi-x-lg"></i></button>
  </div>


</li>
<app-subtask *ngFor="let iter of task.subTasks; index as idy"
             [subtask]=iter [sorting]="sorting"
             [isEditedSubTask]="isEditedSubTask"
             (delItemEvent)="deleteSubAim(idy)"
             (updateLocalStorageSubTasks)="updateLocalStorageSubTasks()"
             [isDoneTask]="task.done"
             [isShownSubtasks]="isShownSubtasks"
></app-subtask>
