<li class="task"
    *ngIf="detectSorting(sorting)">
  <button class="doneButton"
          [ngClass]="{unpressedDoneButton: !task.done}"
          (click)="isDone()"></button>
  <input (click)="isShownSubtasks=!isShownSubtasks"
         [readonly]="readonly" type="text" class="change"
         [(ngModel)]="task.text"
         [ngClass]="{done: task.done, isContainedSubTask: task.subTasks.length > 0}"
         (focusout)="finishEditing()"
         (keyup.enter)="finishEditing()" #input>
  <button class="addSubtask" (click)="addSubTask()"></button>
  <button class="changeText" (click)="changeText(input)">🖊</button>
  <button class="deleteAim" (click)="deleteAim()"></button>
</li>
<app-subtask *ngFor="let iter of this.task.subTasks; index as idy"
             [subtask]=iter
             [isEditedSubTask]="isEditedSubTask"
             (delItemEvent)="deleteSubAim(idy)"
             (updateLocalStorageSubTasks)="updateLocalStorageSubTasks()"
             [isShownSubtasks]="isShownSubtasks"
></app-subtask>