button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
  background-color: white;
}

input {
  border: 0;
  outline: 0;
  font-size: 16px;
  cursor: context-menu;
  font-family: Roboto, sans-serif;
}

.change {
  color: grey;
  width: 75%;
}

.task {
  list-style-type: none;
  position: relative;
  margin: 2px;
  padding: 0.2em 0.2em 0.2em 1.2em;
  width: calc(100% - 2em);
  cursor: default;
}

.done {
  text-decoration: line-through black 1px;
  color: rgb(187, 187, 187);
}

.addSubtask, .addSubtask:before, .addSubtask:after, .deleteAim, .deleteAim:before, .deleteAim:after, .changeText, .doneButton:before, .subTasksCounter {
  position: absolute;
}

.addSubtask:before, .addSubtask:after, .deleteAim:before, .deleteAim:after, .subTasksCounter {
  width: 12px;
  height: 12px;
}

.addSubtask, .deleteAim, .changeText, .doneButton {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid white;
}

.doneButton {
  padding: 15px 0 0 5px;
  margin-right: 5px;
}

.subTasksCounter {
  left: 80%;
  font-size: 14px;
}

.addSubtask {
  left: 85%;
  padding-right: 11px;
}

.changeText {
  left: 90%;
  color: grey;
  font-size: 13px;
  padding-bottom: 5px;
}

.deleteAim {
  left: 95%;
  padding-right: 11px;
}

.addSubtask:before, .addSubtask:after, .deleteAim:before, .deleteAim:after {
  content: '';
  height: 1px;
  background: grey;
}

.addSubtask:before {
  transform: rotate(90deg);
}

.deleteAim:before, .doneButton:before {
  transform: rotate(45deg);
}

.deleteAim:after {
  transform: rotate(-45deg);
}

.addSubtask:hover, .changeText:hover, .deleteAim:hover {
  color: white;
  background-color: rgb(187, 187, 187);
  border: 1px solid rgb(187, 187, 187);
}

.doneButton::before {
  content: '';
  display: block;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.2em 0.15em 0;
  height: 0.7em;
  width: 0.35em;
  margin-top: -1em;
}

.unpressedDoneButton::before {
  border-color: rgb(187, 187, 187);
}

.doneButton:hover:before {
  border-color: white;
}

.doneButton:hover {
  background-color: #009933;
  border: 1px solid #009933;
}

.addSubtask:hover:before, .addSubtask:hover:after, .deleteAim:hover:before, .deleteAim:hover:after {
  background-color: white;
}

.addSubtask:active, .changeText:active, .deleteAim:active {
  background-color: rgb(161, 161, 161);
}

.isContainedSubTask:hover {
  color: black;
}

.doneButton, .addSubtask, .changeText, .deleteAim {
  border-radius: 7px;
}