button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
  background-color: white;
}

input {
  border: 0;
  outline: 0;
  font-size: 16px;
  cursor: context-menu;
  font-family: Roboto, sans-serif;
}

.change {
  color: grey;
  width: 85%;
}

.task {
  list-style-type: none;
  position: relative;
  margin: 2px;
  padding: 0.2em 0.2em 0.2em 1.2em;
  width: calc(100% - 2em);
  cursor: default;
}

.done {
  text-decoration: line-through black 1px;
  color: rgb(187, 187, 187);
}

.deleteAim, .deleteAim:before, .deleteAim:after, .changeText, .doneButton:before {
  position: absolute;
}

.deleteAim:before, .deleteAim:after {
  width: 12px;
  height: 12px;
}

.deleteAim, .changeText, .doneButton {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid white;
}

.doneButton {
  padding: 15px 0 0 3px;
  margin-right: 5px;
}

.deleteAim {
  left: 95%;
  padding-right: 11px;
}

.changeText {
  left: 90%;
  color: grey;
  font-size: 13px;
  padding-bottom: 5px;
}

.deleteAim:before, .deleteAim:after {
  content: '';
  height: 1px;
  background: grey;
}

.deleteAim:before, .doneButton:before {
  transform: rotate(45deg);
}

.deleteAim:after {
  transform: rotate(-45deg);
}

.changeText:hover, .deleteAim:hover {
  color: white;
  background-color: rgb(187, 187, 187);
  border: 1px solid rgb(187, 187, 187);
}

.doneButton::before {
  content: '';
  display: block;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.2em 0.15em 0;
  height: 0.7em;
  width: 0.35em;
  margin-top: -1em;
}

.unpressedDoneButton::before {
  border-color: rgb(187, 187, 187);
}

.doneButton:hover:before {
  border-color: white;
}

.doneButton:hover {
  background-color: #009933;
  border: 1px solid #009933;
}

.deleteAim:hover:before, .deleteAim:hover:after {
  background-color: white;
}

.changeText:active, .deleteAim:active {
  background-color: rgb(161, 161, 161);;
}