<section class="wrapper">
  <h1>My to-do list</h1>
  <div class="cover">
    <div class="start-container">
      <input type="button" class="startButton">
      <input type="text" class="start" placeholder="What needs to be done?"
             (change)="addArrElem($event)">
    </div>
    <ul class="tasks">
      <app-task *ngFor="let iterTask of tasks; index as idx"
                [task]="iterTask" [sorting]="form.value.sort"
                (delItemEvent)="deleteAim(idx)"
                (updateLocalStorageTasks)="updateLocalStorageTasks()"></app-task>
    </ul>
    <footer class="footer">
      <span class="items-left">{{allTasksCounter()}} items left</span>
      <div [formGroup]="form">
        <div class="sort">
          <input type="radio" id="all" name="sort"
                 formControlName="sort" value="All">
          <label for="all">All</label>
        </div>
        <div class="sort">
          <input type="radio" id="active" name="sort"
                 formControlName="sort" value="Active">
          <label for="active">Active</label>
        </div>
        <div class="sort">
          <input type="radio" id="completed" name="sort"
                 formControlName="sort" value="Completed">
          <label for="completed">Completed</label>
        </div>
      </div>
      <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
    </footer>
  </div>
</section>
