<section class="wrapper">
  <h1>My to-do list</h1>
  <div class="cover">
    <div class="start-container">
      <input type="button" class="startButton">
      <input type="text" class="start" placeholder="What needs to be done?">
    </div>
    <ul class="tasks">
      <app-task *ngFor="let iterTask of tasks" [task]="iterTask"></app-task>
    </ul>
    <footer class="footer">
      <span class="items-left">0 items left</span>
      <span>
        <button class="all chosen">All</button>
        <button class="active">Active</button>
        <button class="completed">Completed</button>
      </span>
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
